<div class="container-fluid mt-5 mb-5" id="ourProducts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    MENU
                </h2>
            </div>
            <h3 class="col-md-12 text-center ">
                Our specialised discovery from secret incredients followed by our ancientors
            </h3>
            
            <div class="col-md-12" id="exTab1" >
             <div class="row justify-content-center" >
                <ul class="nav site-tab-nav" id="pills-tab" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active show" id="" data-toggle="tab" href="#1a" role="tab" >Breakfast</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="" data-toggle="tab" href="#2a" role="tab" >Brunch</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="pills-dinner-tab" data-toggle="tab" href="#3a" role="tab">Dinner</a>
                    </li>
                 </ul>          
                
             </div>
             <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
            <h3>Content's background color is the same for the tab</h3>
                  </div>
                  <div class="tab-pane" id="2a">
            <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
                  </div>
          <div class="tab-pane" id="3a">
            <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
                  </div>
            <div class="tab-pane" id="4a">
            <h3>We use css to change the background color of the content to be equal to the tab</h3>
                  </div> </div>

            </div>
        </div>
        
    </div>
</div>